---
import Navbar from "../components/Navbar.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />

    <link rel="icon" href="/favicon.png" />

    <title>Haxiom</title>
  </head>
  <body>
    <Navbar />

    <main>
      <h1 id="page-title">Haxiom</h1>
    </main>

    <style>
      #page-title {
        background-image: linear-gradient(
          45deg,
          rgb(var(--blue-1)),
          rgb(var(--blue-2)),
          rgb(var(--green-1)),
          rgb(var(--orange-1))
        );
        filter: drop-shadow(5px 5px 3vw #28d8ff42);

        color: transparent;
        -webkit-text-fill-color: transparent;

        background-clip: text;
        box-decoration-break: clone;

        -webkit-background-clip: text;
        -webkit-box-decoration-break: clone;

        text-transform: uppercase;
        letter-spacing: 10px;
      }

      #sub-title {
        font-family: "Nunito";
        font-size: 2vw;
        font-weight: 300;
        background-image: linear-gradient(
          45deg,
          rgb(var(--blue-1)),
          rgb(var(--blue-2)),
          rgb(var(--green-1)),
          rgb(var(--orange-1))
        );
        filter: drop-shadow(5px 5px 3vw #28d8ff42);

        color: transparent;
        -webkit-text-fill-color: transparent;

        background-clip: text;
        box-decoration-break: clone;

        -webkit-background-clip: text;
        -webkit-box-decoration-break: clone;
      }
    </style>
  </body>
</html>
